*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#form{
    height: 550px;
    width: 350px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 4px 2px 10px black;
}
#inp1{
    width: 80%;
    height: 35px;
    border-radius: 5px;
    margin-left: 10%;
    padding-left: 10px;
    margin-top: 100px;
}
#inp2{
    width: 80%;
    height: 35px;
    border-radius: 5px;
    margin-left: 10%;
    padding-left: 10px;
}
#inp3{
    width: 80%;
    height: 35px;
    border-radius: 5px;
    margin-left: 10%;
    padding-left: 10px;
}
#btn1{
    width: 50%;
    border: 1px solid black;
    margin-left: 25%;
}
#btn4{
    width: 60%;
    margin-left: 20%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #DC3545;
    color: white;
}