*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #FFFFFF; */
}
#input1{
    width: 80%;
    height: 30px;
    padding-left: 30px;
}
.fa-magnifying-glass{
    position: absolute;
    left: 45px;
    top: 25px;
}