*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#form{
    width: 500px;
    border: 1px solid black;
}
#btn1{
    background-color: rgb(24, 142, 232);
    color: white;
    height: 40px;
    width: 400px;
    border: none;
    border-radius: 5px;
}