* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
#fmain2{
    border: 1px solid red;
    width: 50%;
}
#fMain{
    margin-left: 50px;
    width: 80%;
}

.circle1{
    display:flex ;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img1{
    background-image: url("/circle1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
}
.circle2{
    display:flex ;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img2{
    background-image: url("/circle2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
}
.circle3{
    display:flex ;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img3{
    background-image: url("/circle3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
}
.circle4{
    display:flex ;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img4{
    background-image: url("/circle4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
}
.circle5{
    display:flex ;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img5{
    background-image: url("/circle5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
}
.circle6{
    display:flex ;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img6{
    background-image: url("/circle6.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
}
.circle7{
    display:flex ;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img7{
    background-image: url("/circle7.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
}
.circle8{
    display:flex ;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img8{
    background-image: url("/circle8.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
}
.circle1:hover .img1,.circle2:hover .img2,.circle3:hover .img3,.circle4:hover .img4,.circle5:hover .img5,.circle6:hover .img6,.circle7:hover .img7,.circle8:hover .img8{
    transform: scale(1.1);
}

.box1{
    height: 300px;
    width: 17%;
    /* border: 1px solid black; */
    cursor: pointer;
    /* overflow: scroll; */
    z-index: -1;
}
.sliderImage1{
    height: 225px;
    width: 225px;
    /* border: 1px solid black; */
    overflow: hidden;
    margin-top: 10px;
    margin-left: 30px;
}
.sliderImage1 img{
    height: 100%;
    width: 100%;
    transition: .7s;

    
}
.box1:hover img{
    transform: scale(1.1);
}
#sliderTitle1{
    padding-left: 30px;
}
#sliderItem1{
    padding-left: 30px;
}
.box1:hover #sliderTitle1{
    text-decoration: underline;
    
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  #videoSlider{
    width: 80%;
    margin-left: 10%;
    position: relative;
    border: 1px solid red;
    height: 500px;
    z-index: -1;
  }
  #videoSlide1{
    width: 22%;
height: 90%;
border: 1px solid red;
/* margin-left: -10%; */
  }
  #videoSlide2{
    width: 26%;
height: 90%;
border: 1px solid red;
  }
  #videoSlide3{
    width: 24%;
height: 100%;
border: 1px solid red;
  }
  #videoSlide4{
    width: 26%;
height: 90%;
border: 1px solid red;
  }
  #videoSlide5{
    width: 22%;
height: 90%;
border: 1px solid red;
margin-right: -10%;
  }

.womenSection{
    width: 94%;
    margin-left: 3%;
}
#WomenSectionDetails
{
    height: 400px;
    width: 80%;
}
  
  
