*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-appbar {
    height: 115px;  
  }
  #navbar{
    position: fixed;
    top: 0;
}
