*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#box{
    width: 100%;
}
#btn1{
    width: 150px;
    height:35px;
    background-color: #5398DD;
    color: white;
    border: none;
    border-radius: 5px;
    
}