*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dis{
    width: 100%;
    height: 600px;
    border: 1px solid black;

}
.form1{
    width: 700px;
    height: 500px;
    border: 1px solid black;
}
