*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{
    height: 550px;
    border: 1px solid black;
    width: 450px;
    border-radius: 10px;
    box-shadow: 2px 1px 10px rgb(129, 126, 126);
}
#btn1
{
    width: 150px;
    height: 35px;

}