#img{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}
#img img{
    height: 100%;
    width: 100%;
}
#name{
    border: 1px solid black;
    text-align: center;
}
#price{
    border: 1px solid black;
    text-align: center;
}
#title,#title1,#title2{
    border: 1px solid black;
}