html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper {
      margin-left: auto;
      margin-right: auto;
    }
    .progress-title{
      font-size: 18px;
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 0 0 30px;
  }
  .progress{
      height: 10px;
      background: #000;
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 40px;
      overflow: visible;
      position: relative;
  }
  .progress .progress-bar{
      background: #fff;
      border-radius: 0;
      position: relative;
      -webkit-animation: animate-positive 2s;
      animation: animate-positive 2s;
  }
  .progress .progress-bar:before{
      content: "";
      width: 100%;
      border-top: 10px double #f95738;
      border-right: 25px solid #000;
      position: absolute;
      top: 0;
      left: 0;
  }
  .progress .progress-value{
      font-size: 18px;
      font-weight: 700;
      color: #000;
      position: absolute;
      top: -32px;
      right: -5px;
  }
  .progress.yellow .progress-bar:before{ border-top-color: #ecb82d; }
  .progress.green .progress-bar:before{ border-top-color: #65c168; }
  .progress.blue .progress-bar:before{ border-top-color: #165692; }
  @-webkit-keyframes animate-positive{
      0% { width: 0; }
  }
  @keyframes animate-positive{
      0% { width: 0; }
  }