*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
#span{
    position: absolute;
    right: 100px;
}
#i1{
    color: #CEBD9C;
}
#i2{
    color: #CEBD9C;
}
#box2{
    transition: .3s;
}
#h2{
    transition: .3s;

}
#h3{
    color: #CEBD9C;
    font-size: 16px;
    text-decoration: line-through;
}
#box1{
    overflow: hidden;
    transition: 1s;
    position: relative;
}
#box1:hover #h2{
    color: red;
}
#img{
    transition: .5s;
}
#img1{
    transition: 1s;
}
#box1:hover #img1{
    transform: scale(1.1);
}
.r1{
    height: 60px;
    width: 70%;
    background-color: white;
    position: absolute;
    top: 270px;
    left: 40px;
    opacity: 0;
    transition: .5s;
}
.fa-cart-shopping , .fa-heart , .fa-magnifying-glass-plus{
    height: 60px;
    /* border: 1px solid black; */
    width: 33.33%;
    text-align: center;
    transition: .5s;
    cursor: pointer;
}
#box1:hover .r1{
    opacity: 1;
}
 .fa-cart-shopping:hover , .fa-heart:hover , .fa-magnifying-glass-plus:hover{
    background-color: red;
    color: white;
}
#back1{
    background-color: #F3EAD8;
}
#footer{
    background-color: black;
}
#input{
    height: 50px;
    width: 400px;
}
#btn1{
    height: 50px;
    background-color: red;
    color: white;
}
#an1{
    color: gray;
    transition: .5s;
    text-decoration: none;
}
#an1:hover{
    font-size: 16px;
    text-decoration: underline;
}
#box2{
    background-color: #F3EAD8;
}
#li1{
    height: 43px;
}
#li3{
    height: 43px;
    width: 300px;
}
#btn3{
    padding-right: 180px;
}
#img5{
    height: 30px;
}
#box3{
    background-color: red;
}
#span2{
    transition: .5s;
    cursor: pointer;
}
#span3{
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
#span2:hover{
    text-decoration: underline;
    color: red;

}
#span2:hover #span3{
       color: black;
       text-decoration: none;
}
#font{
    font-size: 18px;
}

#p2{
    font-family: cursive;
}
#h5{
    transition: .5s;
    cursor: pointer;
}
#h5:hover{
   color: red;
}
#box4{
    background-color: #ebeaee;
}
#h6{
    transition: .5s ;
}
#h6:hover{
    color: red;
    cursor: pointer;
}
#h7{
    transition: .5s;
    font-size: 15px;

}
#h7:hover{
    color: red;
    cursor: pointer;
}

#h8{
    transition: .5s;
    font-size: 13px;

}
#h8:hover{
    color: red;
    cursor: pointer;
}
#h9{
    transition: .5s;
}
#h9:hover{
    background-color: red;
    color: white;
}
#box5{
    background-color: #ebeaee;

}
#btn6{
    transition: .5s;
    color: red;

}
#btn6:hover{
    background-color: red;
    color: white;
}
#h8:hover{
    color: red;
}
#back{
    background-color: #E8EAED;
}
#h10{
    position: absolute;
    top: 180px;
    left: 230px;
}
#p10{
    position: absolute;
    top: 200px;
}
#btn10{
    position: absolute;
    top: 300px;
    left: 230px;
}
#h11{
    position: absolute;
    top: 140px;
    right: 350px;
}
#p11{
    position: absolute;
    top: 200px;
    left: 200px;
}
#btn11{
    position: absolute;
    top: 300px;
    right: 380px;
}
